<div class="container">
  <div class="row">
    <div class = "col-sm-12 col-lg-12">
      <div class="table-responsive" style="margin-top: 20px;">
        <table id="example" class="display" style="width:100%;">
          <thead>
            <tr>
              <th>
                Task name
              </th>
              <th>
                Status
              </th>
              <th>
                Project
              </th>
            </tr>
          </thead>
          <tbody>
            <% current_user.tasks.try(:each) do |task| %>
              <tr>
                <td>
                  <a href = "<%= task_path(task) %>"><%= task.try(:name) %></a>
                </td>
                <td>
                  <%= task.try(:status) %>
                </td>
                <td>
                  <%= task.try(:project).try(:name) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#example').DataTable();
  });
</script>